// Imports


// Helpful grid resource
// https://css-tricks.com/snippets/css/complete-guide-grid/
.admin-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    // grid-template-rows: 25% 100px auto;
}

.admin {
    &-add {
        margin-top: 80px;
        text-align: center;
    }
    &-list {
        margin-top: 80px;
        text-align: center;
    }
}